@import "./typograhy.css";

body {
  --bg: white;
  --textNormal: rgb(60, 60, 60);
  --textTitle: rgb(60, 60, 60);
  --textLink: rgb(16, 16, 54);
  --hr: hsla(0, 0%, 0%, 0.2);
  --quote: #474747;
  background-color: var(--bg);
  --shadow: #000000;
  font-family: "Varela Round", sans-serif;
  font-display: swap;
  /* deckgo code  */
  --deckgo-highlight-code-padding	: 5px 16px;
  --deckgo-highlight-code-font-size: 1.13rem;
  --deckgo-highlight-code-line-padding: 50px;
  --deckgo-highlight-code-white-space: pre;
  --deckgo-highlight-code-line-height: 1.5;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: rgb(29, 28, 28);
  --textNormal: rgb(199, 199, 199);
  --textTitle: white;
  --textLink: yellow;
  --quote: #ababab;
  --hr: hsla(0, 0%, 100%, 0.2);
  --shadow: #454545;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textNormal);
}

p {
  font-size: large;
  line-height: 1.9;
}

a {
  color: var(--textNormal);
  background-image: #3c86f5;
}

blockquote {
  color: var(--quote);
  border-left: 0.5em solid gray;
  padding-left: 1rem;
  margin: 0;
}

h2, h3 {
  margin: 1.5em 0 0.5em;
}

ul, ol {
  line-height: 1.7rem;
}

ul, ol li {
  margin: 0.5rem 0
}

hr {
  background-color: var(--hr);
}

figcaption {
  font-size: x-small;
  color: rgb(170, 170, 170);
}

figure {
  margin: 20px 0 20px 0;
  padding: 0;
}

.media-container {
  -webkit-box-shadow: 0px -16px 25px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -16px 25px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -16px 25px -29px rgba(0, 0, 0, 0.75);
}

.styled-media {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(155, 155, 155);
  border-radius: 5px;
  padding: 0;
}

img {
  margin: 0;
}

html {
  scroll-behavior: smooth !important;
}

a {
  text-shadow: none !important;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card-article {
  -webkit-box-shadow: 1px 0px 14px -9px var(--shadow);
  -moz-box-shadow: 1px 0px 14px -9px var(--shadow);
  box-shadow: 1px 0px 14px -9px var(--shadow);
  margin-bottom: 1.8rem;
  border-radius: 15px;
  margin-top: 20px;
}

.card-article:hover {
  transform: scale(1.03);
}

.home-article-banner {
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.article-item {
  flex-basis: 100%;
}

.article-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-article-link {
  background: none;
  box-shadow: none;
  text-decoration: none;
}

.home-article-link:hover {
  text-decoration: underline;
}

.banner-image {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.article-image {
  /* Safari is not respecting this, only works with important :/ */
  border-radius: 15px 15px 0 0 !important;
}

@media (min-width: 600px) {
  .home-article-banner {
    min-height: 300px;
    border-radius: 0 15px 15px 0;
  }
  .article-item {
    flex: 1 1;
  }

  .article-content {
    order: -2;
  }

  .banner-image {
    border-radius: 0 15px 15px 0;
  }
  
  .article-image {
    /* same same */
    border-radius: 0 15px 15px 0 !important;
  }
}

.gatsby-highlight {
  font-size: 0.7em;
}

.blue-pill {
  background-color: rgb(101, 146, 173);
}

.red-pill {
  background-color: rgb(194, 115, 115);
}

.green-pill {
  background-color: rgb(116, 194, 77);
}

.gray-pill {
  background-color: rgb(117, 117, 110);
}

.post-tag {
  font-size: x-small;
  white-space: nowrap;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 3px 10px;
}

.tag-link {
  text-decoration: none;
}

.tag-link:hover {
  text-decoration: underline;
}

.post-tag-pill {
  text-align: center;
  width: max-content;
  display: inline-block;
  margin-right: 5px;
}

.honeypot {
  display: none;
}

.about-container {
  text-align: center;
}

.about-card {
  padding: 2rem;
  margin-top: -35px;
}

.about-image {
  width: 150px;
  margin: auto;
}

.banner-container {
  order: -1;
}

.tag-list {
  line-height: 2.5rem;
}

.like-btn {
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  border: none;
  cursor: pointer;
  margin: 0.5rem auto;
  color: var(--textNormal);
  box-shadow: 1px 0px 14px -9px var(--shadow);
  background: none;
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.like-btn:hover {
  transform: scale(1.12);
}

.like-btn-liked {
  background-color: gray;
  color: white
}
