.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.items-container > * {
  margin: 0.5em;
}

.notification-btn {
  background-color: var(--bg);
  color: var(--textNormal);
  cursor: pointer;
  border-radius: 30px;
  padding: 12px;
  margin-top: 10px;
  font: inherit;
  border-width: 0.5px;
}

.notification-btn:hover {
  box-shadow: 0px 0px 2px var(--shadow);
}
