.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.items-container > * {
    margin: 0.5em;
}

.notification-btn {
    background-color: var(--bg);
    color: var(--textNormal);
}